# Ignore environment variables
.env

# Ignore log files
/log/application.log

# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
.env/

# Logs and debugging
*.log
*.out
*.err

# System files
.DS_Store
Thumbs.db

DockerFile
.dockerignore
